body {
    background-color: #1a001f;
    color: #f8f9fa;
}

.navbar {
    background-color: #2c003e;
}

.navbar-brand, .nav-link {
    color: #f8f9fa !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.btn-custom {
    background-color: #8a2be2;
    border: none;
    color: #f8f9fa;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
}

    .btn-custom:hover {
        background-color: #7a1ede;
    }
