@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #1a001f; /* Darker background color */
            color: #f8f9fa;
        }

        .logout-container {
            text-align: center;
            background: #2c003e; /* Darker container color */
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .logout-title {
            margin-bottom: 1rem;
        }

        .logout-btn {
            margin-top: 1rem;
            background-color: #3e005a; /* Darker button color */
            border: none;
            color: #f8f9fa;
        }

            .logout-btn:hover {
                background-color: #310047; /* Darker hover color */
            }
    </style>
</head>
<body>
    <div class="logout-container">
        <h1 class="logout-title">@ViewData["Title"]</h1>
        @{
            if (User.Identity?.IsAuthenticated ?? false)
            {
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="btn logout-btn">Click here to Logout</button>
                </form>
            }
            else
            {
                <p>You have successfully logged out of the application.</p>
            }
        }
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
