@page
@model webProject.Pages.UserCourseProgress.IndexModel

<h2>User Course Progress</h2>

<table class="table">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var progress in Model.UserCourseProgress1s)
        {
            <tr>
                <td>@progress.Course.CourseName</td>
                <td>@progress.StartDate</td>
                <td>@progress.EndDate</td>
            </tr>
        }
    </tbody>
</table>
