body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a001f; /* Darker background color */
    color: #f8f9fa;
}

.logout-container {
    text-align: center;
    background: #2c003e; /* Darker container color */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logout-title {
    margin-bottom: 1rem;
}

.logout-btn {
    margin-top: 1rem;
    background-color: #3e005a; /* Darker button color */
    border: none;
    color: #f8f9fa;
}

    .logout-btn:hover {
        background-color: #310047; /* Darker hover color */
    }
