body {
    background-color: #1a001f;
    color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 2rem;
}

.content-container {
    background: #2c003e;
    padding: 2.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

h1, h2 {
    color: #f8f9fa;
}

p, div {
    color: #f8f9fa;
    font-size: 1.2rem;
}
