body {
    background-color: #1a001f;
    color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 2rem;
}

.content-container {
    background: #2c003e;
    padding: 2.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
}

h2 {
    color: #f8f9fa;
    margin-bottom: 1.5rem;
}

.table {
    color: #f8f9fa;
    background-color: #3e005a;
}

    .table thead th {
        border-bottom: 2px solid #310047;
    }

    .table tbody tr td {
        border-top: 1px solid #310047;
    }
